body {
  font-family: sans-serif;
}

.bg1 {
  background-color: pink;
  width: block;
  height: 50px;
  padding: 5px;
}

.box {
  background: #333;
  color: white;
  width: 500px;
  height: 90px;
  padding: 40px;
  text-align: center;
  position: relative;
}
